@import './variables/fuentes';
@import './variables/extend';
@import './variables/mixin';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	min-height: 90vh;
}

.TituloNikeAdidas{
	@extend .titulo;
}

@import './section/menu.scss';
@import './section/slider.scss';
@import './section/subtituloIndex.scss';
@import './section/categoriaIndex.scss';
@import './section/cardsZapatillas.scss';
@import './section/footer.scss';
@import './section/shopCard.scss';
@import './section/sugerencia.scss';
@import './section/formulario.scss';
