@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:wght@100&display=swap');

$fuentePrincipal : 'Bebas Neue', cursive;
$fuenteSubtitulos :'Fira Sans Extra Condensed', sans-serif;
$fuenteEspecial: 'Bangers', cursive;